.detalhesEvento{
	box-shadow: 0px 0px 5px grey;
	pandding-top: 20px;
	padding-left: 20px;
	margin-bottom: 60px
}

.formConvidado{
	box-shadow: 0px 0px 5px grey;
	pandding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px
}

.tabelaConvidado{
	width: 50%;
}

.formEvento{
	box-shadow: 0px 0px 5px grey;
	pandding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px
}

