<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>EventosApp</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>

	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Eventos</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/eventos" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Lista de Eventos</a></li>
					<li><a href="/" class="waves-effect waves-light btn"><i class="material-icons left">home</i>Home</a></li>
				</ul>
			</div>
		</nav>

	</header>

	<div th:each="evento : ${evento}" class="container detalhesEvento">
	<h5>Detalhes do Evento</h5>
		<div class="row">
			<p>
				Nome: <span th:text="${evento.nome}"></span>
			</p>
			<p>
				Local: <span th:text="${evento.local}"></span>
			</p>
			<p>
				Data: <span th:text="${evento.data}"></span>
			</p>
			<p>
				Horario: <span th:text="${evento.horario}"></span>
			</p>
			</div>
		</div>

		<th:block th:include="mensagemValidacao"></th:block>
    <div class="container formConvidado">
		<form method="post">
			Nome: <input type="text" value="" name="nomeConvidado"
				placeholder="Nome Completo" /> Rg: <input type="text" value=""
				name="rg" placeholder="AA-00.000.000" />
			<button class="waves-effect waves-light btn" type="submit">Adicionar</button>
		</form>
	</div>

	<table class="container tabelaConvidado">
		<thead>
			<tr>
				<th>Nome Convidado</th>
				<th>RG</th>
				<th>Deletar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="convidado : ${convidados}">
				<td><span th:text="${convidado.nomeConvidado}"></span></td>
				<td><span th:text="${convidado.rg}"></span></td>
				<td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.rg)).build()}"><i class="material-icons left">delete</i></a></td>
		</tbody>
	</table>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</hmtl>